.NO {
  height: 100%;
  width: 100%;
  font-family: 'Times New Roman', Times, serif;
  vertical-align: middle;
  display: flex;
}


.ULI{
  width: 100%;
  margin-left: 7px;
}

.ULI ul {
  width: 60%;
  height: 100%;
  align-content: center;
  margin: 30px 0;
}

.ULI li {
  list-style: none;
  border: 5px solid #706c61;
  border-radius: 7px;
}

.ULI li div {
  background-color: #b4d9ef;
  font-size: x-large;
}
